<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<br>
<div class="container" style="padding: 20px;">
  <!-- <div class="alert alert-info text-center" role="alert">
      To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-go" class="alert-link">Getting Started with Go on Heroku</a> tutorial.
  </div> -->
  <h1 style="text-align: center;">Algorithmic Bias in Artificial Intelligence</h1>
  <div class="row">
    <div class="">
      <!-- <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3> -->
      <p>
        Artificial Intelligence already influences many parts of daily life, from the curation of news and social media feeds, to capital investment. Soon, even jobs like journalism and radiology could be automated away with artificial intelligence. As the world relies more on these algorithms to make decisions, we need to make sure that the decisions are fair and unbiased.<br><br>
        Since algorithms are abstract, it’s easy to assume they are objective and don’t fall prey to biases, but this is not the case. Relying on Artificial Intelligence systems to make decisions, without addressing the possible biases within those systems, can reinforce inequalities while making it hard to take accountability or responsibility for the decisions the system takes. In addition, Artificial Intelligence makes it easier than ever to shift the responsibility of biases from a person, to an abstract algorithm.<br><br>
        Artificial Intelligence poses completely different kinds of algorithmic bias than what is currently seen in other algorithms, and the nature of AI makes it hard to hold these algorithms accountable.<br><br>
        Before talking about how algorithmic bias shows up in AI, we first must differentiate between the types of AI. Artificial Intelligence is simply a program that can reason and act rationally in an environment. Machine Learning is a subset of AI, in which these reasoning and decision-making aspects of AI learn from their own performance, improve as they are exposed to more data. Finally, Deep Learning is a subset of ML, in which neural networks learn from huge amounts of data, with as little human intervention or guidance as possible.<br><br>
        Deep Learning models operate by simulating the behavior of neurons in the brain. Thus, this allows AI agents to run repeatedly without human intervention. This introduces different kinds of algorithmic bias than is encountered in Machine Learning, or regular AI.<br><br>
      </p>
      <h3><span class="glyphicon glyphicon-link"></span> References</h3>
      <ul>
        <li>Cathy ONeil. 2017. Weapons of math destruction: how big data increases inequality and threatens democracy, Great Britain: Penguin Books.</li>
        <li>Seema Singh. 2018. Cousins of Artificial Intelligence. (June 2018). Retrieved from <a href="https://towardsdatascience.com/cousins-of-artificial-intelligence-dda4edc27b55">https://towardsdatascience.com/cousins-of-artificial-intelligence-dda4edc27b55</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
